<center><h1 style:'color: blue;'>Treino Pandas com Lambda</h1></center>

<h2>Criar um Dataframe com Pandas</h2>

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

In [2]:
dt = pd.DataFrame([['Atendimento excelente, chega de coisa ruim no mercado','positivo'],
                   ['Gostei muito do atendimento, estão de parabéns!!,recomendo muito!!','positivo'],
                   ['É uma pena não ter estacionamento, isso prejudica demais!','negativo'],
                   ['Achei que tinha estacionamento, isso quebrou minhas pernas','negativo'],
                   ['Achei o preço salgado!.','negativo'],
                   ['Comida muito boa, preço bom!!','positivo'],
                   ['Preço bom e lugar aconchegante.','positivo']]
                   , columns=['review','sentimento'])

<h2>Criar função de frequência</h2>

In [3]:
def word_count(review, word):
    cont = 0
    review = review.lower()
    if word in review.lower():
        return review.count(word)
    else:
        return 0

<h2>Criar colunas com frequências</h2>

In [4]:
dt['atendimento'] = dt['review'].apply(lambda x: word_count(x, 'atendimento'))
dt['estacionamento'] = dt['review'].apply(lambda x: word_count(x, 'estacionamento'))
dt['preço'] = dt['review'].apply(lambda x: word_count(x, 'preço'))
dt['comida'] = dt['review'].apply(lambda x: word_count(x, 'comida'))

<h2>Exibir dataset</h2>

In [5]:
dt

,review,sentimento,atendimento,estacionamento,preço,comida
0,"Atendimento excelente, chega de coisa ruim no mercado",positivo,1,0,0,0
1,"Gostei muito do atendimento, estão de parabéns!!,recomendo muito!!",positivo,1,0,0,0
2,"É uma pena não ter estacionamento, isso prejudica demais!",negativo,0,1,0,0
3,"Achei que tinha estacionamento, isso quebrou minhas pernas",negativo,0,1,0,0
4,Achei o preço salgado!.,negativo,0,0,1,0
5,"Comida muito boa, preço bom!!",positivo,0,0,1,1
6,Preço bom e lugar aconchegante.,positivo,0,0,1,0

<h2>Exibir agrupamento de colunas</h2>

In [6]:

dt.groupby('sentimento')[dt.columns].sum()

            atendimento  estacionamento  preço  comida
sentimento
negativo    0            2               1      0
positivo    2            0               2      1